{:paths
 ["src/clj" "src/cljs"  "resources", "target"]
 :deps
 {org.clojure/clojurescript {:mvn/version "1.10.764"}
  reagent/reagent {:mvn/version "1.0.0"}
  com.bhauman/figwheel-main {:mvn/version "0.2.11"}
  ring/ring-core {:mvn/version "1.8.2"}
  ring/ring-json {:mvn/version "0.5.0"}
  ring-logger/ring-logger {:mvn/version "1.0.1"}
  ring/ring-jetty-adapter {:mvn/version "1.8.2"}
  compojure/compojure {:mvn/version "1.6.1"}
  org.clojure/java.jdbc {:mvn/version "0.7.11"}
  org.postgresql/postgresql {:mvn/version "42.2.5"}
  clj-time/clj-time {:mvn/version "0.15.2"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
